page-home {
  
  .details {
    position: relative;
    top: 30%;
    font-size: 150%;
  }
  .menubtn {
    position: absolute;
    top: 2px;
    left: 2px;
    color: white;
  }
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
  ion-content {
    font-family: 'Anonymous Pro', monospace; 
    color: white !important;
    background-color: rgb(25,25,25) !important;
    font-size: 90%;
    justify-content: space-evenly;
  }
  .line-1{
    //height: calc(100vh - 8em);
  //padding: 4em;
  color: rgba(15, 150, 3, 0.795);
   

    position: relative;
    top: 25%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.3em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
  
}
