page-home {
  img {
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    border: 0.3em solid #488aff;
  }
  .head {
    background-color:#488aff;
    height: auto;
    width: 100%;
  }
  .details {
    margin-top: 32px;
  }
}
