page-home {
  
  .details {
    position: relative;
    top: 32px;
    font-size: 1.1em;
    animation: fadein 0.6s linear 1.0s forwards;
    -webkit-animation: fadein 0.6s linear 1.0s forwards;
    opacity: 0;
  }
  img {
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    border: 0.3em solid #488aff;
  }
  .head {
    background-color:#488aff;
    height: auto;
    width: 100%;
    opacity: 1;
  }
  .menubtn {
    position: absolute;
    top: 2px;
    left: 2px;
    color: white;
  }
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
 
  .line-1{
    //height: calc(100vh - 8em);
  //padding: 4em;
  color: rgba(1, 15, 117, 0.945);
   
  font-family: 'Anonymous Pro', monospace;
    position: relative;
    top: 72px;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  -webkit-animation: typewriter 1s steps(44) 1s 1 normal both,blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.4em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}

@keyframes fadein {
  from {opacity: 0; top:20%;}
  to {opacity: 1; top: 10%;}
}
  
}
