
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Skills</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            Coding Skills
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let c of coding">
                <ion-icon name="code" item-start color="primary"></ion-icon>
                {{c}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-lg-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            Development Skills
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let d of dev">
                <ion-icon name="code" item-start color="primary"></ion-icon>
                {{d}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12 col-lg-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            Other Skills
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let d of others">
                <ion-icon name="code-working" item-start color="primary"></ion-icon>
                {{d}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-lg-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            Soft Skills
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let d of soft">
                <ion-icon name="checkmark" item-start color="primary"></ion-icon>
                {{d}}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <h4>Hobbies & Interest</h4>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content text-center>
            <ion-icon name="color-palette"></ion-icon><br>
            Painting
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-icon name="book"></ion-icon><br>
              Reading
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
            <ion-card>
              <ion-card-content text-center>
                <ion-icon name="videocam"></ion-icon><br>
                Movies
              </ion-card-content>
            </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
